#contenido {
    width: 90%;
    margin:auto;
    max-width: 1280px;
    min-height: 100vh;
}
.nombre{
    color: #c29d62;
    font-size: 24px;
    margin-bottom: 15px;
    margin: 0;
    padding: 0;
}
.pais {
    font-family: 'Playfair Display';
    font-size: 24px;
    font-weight: 100;
    margin: 0;
    padding: 0;
}
.precio {
    color: #939393;
    line-height: 30px;
    margin-top: 20px;
    padding: 5px;
    margin: 0;
    padding: 0;
}

.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}
.menu {
    position: relative;
    z-index: 101;
}


.galeria img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.lugares {
    color: #bfbfbf;
    letter-spacing: 2px;
    font-size: 40px;
}
#contenido  hr {
    width: 40%;
}
hr{
    border-color: #c29d63;
}
.bx-wrapper .bx-controls-direction a{
    z-index:100;
}



/*Tablets*/
@media (max-width: 1024px) {
    .galeria {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 480px) {

    .galeria {
        grid-template-columns: 1fr;
    }
}