<html lang="es">
<head>

  {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if request.path == '/' %}
            Inicio 
        {% elif request.path == '/galeria' %}
            Galeria
        {% elif request.path == '/contacto' %}
            Contacto
        {% elif request.path == '/registro' %}
            Registro
        {% elif request.path == '/reservas' %}
            Reservas
        {% endif %}
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'OnboardApp/css/estilos.css' %}">
    <!-- CSS personalizado -->
    {% block css %}
    
    {% endblock %}
    <script src="{% static 'OnboardApp/vendor/app.js' %}" defer></script>
    <link rel="icon" type="image/png" href="{% static 'OnboardApp/img/logoontour.png' %}">
</head>
<body>
    <nav class="menu">
        <label class="logo">OnBoard</label>
        <ul class="menu_items">
            <li class="{% if request.path == '/' %}active{% endif %}"><a href="{% url 'Inicio' %}">Inicio</a></li>
            <li class="{% if request.path == '/galeria' %}active{% endif %}"><a href="{% url 'Galeria' %}">Galeria</a></li>
            <li class="{% if request.path == '/reservas' %}active{% endif %}"><a href="{% url 'Reservas' %}">Reservas</a></li>
            <li class="{% if request.path == '/registro' %}active{% endif %}"><a href="{% url 'Registro' %}">Registro</a></li>
            <li class="{% if request.path == '/contacto' %}active{% endif %}"><a href="{% url 'Contacto' %}">Contacto</a></li>
        </ul>
        <span class="btn_menu">
            <i class="fa  fa-bars"></i>
        </span>
    </nav>
    <!-- Contenido de la pagina -->
    {% block content %}


    {% endblock %}
    

    <footer class="footer">
        <div class="l-footer">
            <h1>
                <label class="logo">OnBoard</label></h1>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam atque recusandae in sit sunt molestiae aliquid fugit. Mollitia eaque tempore iure sit nobis? Vitae nemo, optio maiores numquam quis recusandae.</p>
        </div>
        <ul class="r-footer">
            <li>
                <h2>Redes Sociales</h2>
                <ul class="box">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">LinkedIn</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </li>
            <li class="features">
                <h2>Información</h2>
                <ul class="box h-box">
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Precios</a></li>
                    <li><a href="#">Ventas</a></li>
                    <li><a href="#">Tickets</a></li>
                    <li><a href="#">Servicio al cliente</a></li>
                </ul>
            </li>
            <li>
                <h2>Legal</h2>
                <ul class="box">
                    <li><a href="#">Politica de Privacidad</a></li>
                    <li><a href="#">Terminos de uso</a></li>
                    <li><a href="#">Contrato</a></li>
                </ul>
            </li>
        </ul>
            <div class="b-footer">
            <p>OnBoard 2020 Copyright © Todos los derechos reservados.</p>
        </div>
    </footer>
    
</body>
</html>