{% extends "OnboardApp/base.html" %}

{% load static %}
    {% block titulo %}
    <title>Inicio</title>
    

    {% endblock %}
  {% block css %}
  <link rel="stylesheet" href="{% static 'OnboardApp/css/inicio.css' %}">
  {% endblock %}

  {% block content %}
    <!-- Panel -->
    <section id="intro" >
        <div class="contenedor">
            <div class="contenedor-titulo">
                <div class="titulo">
                    <h1>Llevando nuestros clientes a su mejor destino</h1>
                    <p>En OnBoard nos aseguramos de que tu viaje sea una experiencia más que inolvidable. Paga menos y disfruta más.</p>
                    <div class="botones">
                        <a href="" class="planes">Ver planes</a>
                        <a href="" class="reservation">Reservas</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
  <!-- Nosotros -->
    <section id="nosotros">
        <div class="contenedor">
            <div class="izquierda">
                <p class="nosotros">Nosotros</p>
                <hr>
                <h2>Bienvenido a bordo</h2>
                <p class="texto">OnBoard es una agencia de viajes turisticos y comerciales con más de 15 años en el rubro, por lo que contamos con los mejores estandares de calidad y una variada paleta de oportunidades hechas a la medida para cada tipo de pasajero.
                <p class="texto">¡No te quedes abajo! Ven con nosotros y disfruta de tu mejor destino.</p>
            </div>
            <div class="derecha">
                <img src="{% static 'OnboardApp/img/story.jpg' %}" alt="">
            </div>
        </div>
    </section>
  <!-- Lugares -->
  {% load humanize %}
  <section id="testimonials">
    <div class="contenedor">
        <p class="titulo">Lugares</p>
        <hr>
    </div>
</section>
    <div id="contenido">
        <div class="galeria">
            {% load humanize %}
            {% for i in lugares %}
                {% if i.imagen %}
                    <div class="pubs">
                        <img class="foto" src="{{  i.imagen.url }}">
                        <li class="precio">${{ i.precio | intcomma  }}</li>
                        <li class="titulo">{{ i.nombre }}</li>
                        <li class="parrafo">{{ i.descripcion }}</li>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
  
  <!-- Testimonios -->
  <section id="testimonials">
    <div class="contenedor">
        <p class="titulo">Testimonios</p>
        <hr>
        <h2>Qué Opinan Nuestros Clientes</h2>
        <br><br><br><br>
        <div class="contenedor-testimonials">
            {% for r in resenas %}
            <div class="testimonial">
                <h3>"{{ r.titulo}}"</h3>
                {% if r.estrellas == 0 %}
                <img src="{% static 'OnboardApp/img/estrellas/estrella1.png' %}" alt="">
                {% elif r.estrellas  == 1%}
                <img src="{% static 'OnboardApp/img/estrellas/estrella2.png' %}" alt="">
                {% elif r.estrellas  == 2%}
                <img src="{% static 'OnboardApp/img/estrellas/estrella3.png' %}" alt="">
                {% elif r.estrellas  == 3%}
                <img src="{% static 'OnboardApp/img/estrellas/estrella4.png' %}" alt="">
                {% elif r.estrellas  == 4%}
                <img src="{% static 'OnboardApp/img/estrellas/estrella5.png' %}" alt="">
                {% endif %}
                <p class="texto">{{ r.descripcion}}</p>
                <p class="nombre">{{ r.nombre }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
  </section>  


  {% endblock %}
