{% extends "OnboardApp/base.html" %}

{% load static %}
    {% load crispy_forms_tags %}
    {% load static %}
    {% block titulo %}
    <title>Iniciar sesión</title>
    {% endblock %}
    {% block content %}
    <div class="container">
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h1>Ingresa tus credenciales</h1>
                        <hr>
                        <form action="" method="post">
                            
                            {% csrf_token %}
                            {{ form | crispy}}
                            <a href="{% url 'Inicio' %}">Ir al Inicio</a> |
                            <a href="{% url 'Registro' %}">Registrate </a>
                            <div class="botones float-right">
                                <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary facebook btn-sm"> <span>Iniciar sesión con Facebook</span> <i class="fa fa-facebook"></i> </a>
                                &nbsp;
                                <input type="submit" value="Ingresar" class="btn btn-success float-right btn-sm">
                            </div>
                            
                        </form>
                        <hr>
                        <a href="{% url 'reset_password' %}">¿Olvidaste tu contraseña?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br>
    <style>
        body {
          background-image: url("{% static 'OnboardApp/img/back.jpg' %}");
        }
        </style>
    {% endblock %}
    